/* Responsive styles */
@media (max-width: 768px) {
  .blogCard {
    flex-basis: 45%;
  }
}

@media (max-width: 480px) {
  .blog {
    flex-direction: column;
    align-items: center;
  }

  .blogCard {
    flex-basis: 90%;
  }

  .aboutBlog h2 {
    font-size: 1.2em;
  }

  .aboutBlog p {
    font-size: 0.9em;
  }
}

@media only screen and (min-width: 350px) and (max-width: 896px) {
  .blogCard {
    width: auto;
  }
}
